[Unit]
Description=Edge Controller service
Wants=vpnclient.service
After=network.target vpnclient.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/edge-controller run --configFile=/etc/edge-controller/config.yaml
[Install]
WantedBy=multi-user.target
