[Unit]
Description=Edge Controller service
Wants=vpnclient.service
After=network.target vpnclient.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/vagrant/bin/linux_amd64/edge-controller run --joinTokenPath=/vagrant/joinToken.json --useBBoltProviders --bboltpath=/home/vagrant/database.db --name EC001 --labels=name:test --location="ESP, Spain"
[Install]
WantedBy=multi-user.target
